<div class="accounts">
  <form class="accounts__form" action="/user/forgot" method="post">
    <div class="nav"><a class="nav__link" href="/">&larr; Back home</a></div>
    <div class="accounts__heading">Forgot Password</div>
    <div class="text-field">
      <label class="text-field__label">
        <span class="text-field__label-text">Username</span>
        <input class="text-field__input" type="text" name="username" required>
      </label>
    </div>
    <div class="spacer--24"></div>
    <button class="resume__layout-button resume__layout-button--small" type="submit">Send reset link</button>
  </form>
</div>